---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Arvo');

html {
  background: #dfdfdf;
  color: #333;
  font-family: 'Arvo', serif;
}

body {

}

h1 {
  text-align: center;
}
