---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Arvo');

html {
  background: #f8f8f8;
  color: #333;
  font-family: 'Arvo', serif;
}

body {
  background: none;
  padding: 10px auto;
  max-width: 1000px !important;
  margin: 10px auto;
}

.container {
  width: auto;
  padding: 0 10px;
}

a {
  color: #0C5AA8;
  text-decoration: underline;
}

a:hover {
  color: #111;
}

h1 a,
h2 a,
h3 a {
  text-decoration: none;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  font-family: 'Open Sans', sans-serif;
}

hr.double {
  padding:1px;
  background: none;
  border-top: 1px solid #555;
  border-bottom: 3px solid #555;
}

h2#somerville-ma {
  color: #999;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5 {
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: normal;
}

.markdown-body h1 {
  font-size: 2em;
  margin-top: 40px;
}

.markdown-body h1 a,
.markdown-body h2 a,
.markdown-body h3 a,
.markdown-body h4 a {
  padding: 20px;
  line-height: 1.8;
}

.header h2,
.header h3,
.header h4 {
  border: none;
}

.content {
  /* columns: 2; */
}

footer {
  padding: 40px;
  text-align: center;
  font-family: 'Arvo', serif;
}

td {
  font-size: 13px;
}
