---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Arvo');

html {
  background: #eee;
  color: #333;
  font-family: 'Arvo', serif;
}

body {
  background: none;
  padding: 10px;
  max-width: 800px !important;
}

.container {
  width: auto;
}

a {
  color: #333;
}

a:hover {
  color: #111;
}

.markdown-body p,
.markdown-body blockquote,
.markdown-body ul,
.markdown-body ol,
.markdown-body dl,
.markdown-body table,
.markdown-body pre {
  font-family: 'Arvo', serif;
}

hr.double {
  padding:1px;
  background: none;
  border-top: 1px solid #555;
  border-bottom: 3px solid #555;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5 {
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: normal;
}

.markdown-body h1 {
  font-size: 3em;
  margin-top: 40px;
}

.markdown-body h1 a,
.markdown-body h2 a,
.markdown-body h3 a {
  padding: 0 20px;
}
