
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Union Square Neighborhood Council</title>
    <link href="/assets/css/style.css?v=a160514e0b6fbb9c79584697456f5b7ff59d34b4" rel="stylesheet">
  </head>
  <body>
    <div class="container markdown-body">

      <div class="header">

        <h3 id="languages">
<!--          <p>additional languages coming soon</p>
          <a href="/es/">espa&ntilde;ol</a>
          <a href="/ht/">krey&ograve;l ayisyen</a>
          <a href="/pt/">portugu&ecirc;s</a>
          <a href="/">english</a>
-->
        </h3>
 
        <h1 id="union-square-neighborhood-council"><a href="/">Union Square Neighborhood Council</a></h1>
 
        <h2 id="somerville-ma">Somerville, MA</h2>
 
        <h4 id="navbar">
<!--
          <a href="/join">How to join</a>
          <a href="/history">History</a>
          <a href="/updates">Updates</a>
          <a href="/candidates">Candidates</a>
          <a href="/elections">Elections</a>
          <a href="/#email">Email lists</a>
-->
          <a href="/index">Home</a>
          <a href="/about">About</a>
          <a href="/board">Board</a>
          <a href="/bylaws">Bylaws</a>
          <a href="/meetings">Meetings</a>
        </h4>
 
        <hr class="double" />

      </div>

      <div class="content">

        {{ content }}

      </div>

    </div>

    <footer>
      <p>Site maintained by <a href="mailto:jeff@unterbahn.com">Jeff Warren</a> and <a href="mailto:enderisnotmyrealname@gmail.com">Mike Gintz</a> | <a href="/suggestions">Suggestions welcomed</a></p>
    </footer>

  </body>
</html>
